{% extends "base_admin.html" %}
{% load static %}
{% block title %}Registro Cargo{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Registrar Cargo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'adminInicio' %}">Home</a></li>
                        <li class="breadcrumb-item active">Registro Cargo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Modal Nuevo Cargo -->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Cargo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulario de Registro -->
                            <form id="registroForm" action="/registroCargo/" method="post"
                                enctype="multipart/form-data">{% csrf_token %}
                                <!-- Cargo -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="nombres" id="nombres" pattern="[^0-9]*" required>
                                        </div>
                                    </div>                               
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-secondary " style="left: 10px;" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                            <!-- Fin del Formulario de Registro -->
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            
            <div class="card">
               
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cargo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in cargos %}                 
                            <tr>
                                <td class="text-center pt-3">{{forloop.counter}}</td>

                                <td class="pt-3">{{c.nombre|title}}</td>
                                <td class="text-center pt-3">
                                    {% if c.estado %}
                                    <span class="badge bg-success">Activo</span>
                                    {% else %}
                                    <span class="badge bg-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="text-center py-0 align-middle">
                                    <div class="btn-group btn-group-sm">
                                      <a href="/edicionCargo/{{c.id}}" class="btn btn-success" ><i class="fas fa-pencil-alt"></i></a>
                                      <a href="#"onclick="confirmarEliminacion('/eliminarCargo/{{c.id}}')" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </div>
                                  </td>
                                
                            </tr>
                            {% endfor %}                        
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block datatables %}
<script>
    $(function () {
        // Configuración de DataTable
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy"],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [[5, 10, 25, 50,],[5, 10, 25, 50,]],
            "pageLength": 5,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        // Ocultar todos los botones excepto el botón "colvis"
        $('div.dt-buttons > button').not('.buttons-colvis').css('display', 'none');


        // Agregar el botón "Nuevo Cargo" al lado del botón "Imprimir"
        $("<button type='button' class='btn btn-warning text-white btn-sm' id='btnNuevoCargo'>" +
            "<i class='nav-icon fas fa-user-plus mr-2'></i>Nuevo Cargo" +
            "</button>").insertAfter('#example1_wrapper .col-md-6:eq(0) .btn-group .btn:last-child');
        
        $("<a type='button' href='/registroRoles/' class='btn btn-primary text-white btn-sm d-none'  >" +
        "<i class='nav-icon fas  mr-2'></i>Generar Roles por Defecto" +
        "</a>").insertAfter('#example1_wrapper .col-md-6:eq(0) .btn-group .btn:last-child');

        // Agregar la lógica para abrir el modal al hacer clic en el botón "Nuevo Cargo"
        $('#btnNuevoCargo').on('click', function () {
            $('#modal-default').modal('show');
        });

        // Obtener el contenedor de botones
        var buttonContainer = $("#example1_wrapper .col-md-6:eq(0)").find('.btn-group');

        // Quitar la clase 'btn-group' de todos los botones
        buttonContainer.removeClass('btn-group');

        // Agregar la clase 'btn' a cada botón
        buttonContainer.find('button').addClass('btn btn-round');

        // Añadir un margen a los botones para separarlos
        buttonContainer.find('button').css('margin-right',);
    });

</script>
{% endblock %}